.sidebar-container {
    display: flex;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1000;
}

.sidebar-line {
    width: 6px;
    height: 100vh;
    background: #0a1f33;
    position: absolute;
    transition: width 0.5s ease-in-out;
}

.menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 35px;
    height: 30px;
    justify-content: center;
    position: absolute;
    left: 10px; 
    top: 15px;
    z-index: 1001;
    transition: left 0.5s ease-in-out;
}

.menu-icon div {
    width: 30px;
    height: 4px;
    background: white;
    border-radius: 2px;
    transition: 0.5s;
}

.sidebar-menu {
    position: fixed;
    top: 0;
    left: -220px;
    width: 200px;
    height: 100vh;
    background: #2a3b4d;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    box-shadow: 2px 0 10px rgba(48, 227, 202, 0.4);
    transition: left 0.5s ease-in-out;
    z-index: 999;
}

.sidebar-container.open .sidebar-menu {
    left: 0;
}

.sidebar-container.open .menu-icon {
    left: 230px; 
}

.sidebar-menu button {
    background: none;
    border: none;
    color: white;
    text-align: left;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.sidebar-menu button:hover {
    background: #1e2a38;
}
